<div class="main-view">
  <div class="container">
  <h1>Edit Run</h1>
    <form class="form" {{action 'editRun' model._id on='submit'}}>
      {{input type='text' value=model.runTime class='form__input'}}
      {{input type='text' value=model.raceDate class='form__input'}}
      {{input type='text' value=model.raceNotes class='form__input'}}

      <div class="form__buttons">
          <button type="button" class='form__buttons--btn cancel' {{action 'cancel' model._id on='click'}}>
            Cancel
          </button>
        <button class="form__buttons--btn save">Save</button>
      </div>
    </form>
  </div>
</div>
{{outlet}}
