<div class="main-view">
  <div class="container">
  <h1>New Run</h1>
    <form class="new-run__form" {{action 'addRun' on='submit'}}>
      {{input type='text' value=runTime placeholder='Run Time' class='new-run__form--input'}}
      {{input type='text' value=raceDate placeholder='Race Date' class='new-run__form--input'}}
      {{input type='text' value=raceNotes placeholder='Race Notes' class='new-run__form--input'}}

      <div class="new-run__buttons">
        <button type="button" class='new-run__buttons--btn cancel' {{action 'cancel' on='click'}}>Cancel</button>
        <button class="new-run__buttons--btn save">Save</button>
      </div>
    </form>
  </div>
</div>
{{outlet}}
