<div class="main-view">
  <div class="container">
    <form class="form" {{action 'addRun' on='submit'}}>
      <h1 class='form__title'>New Run</h1>
      {{input type='text' value=runTime placeholder='Run Time' class='form__input'}}
      {{input type='date' value=raceDate placeholder='Race Date' class='form__input'}}
      {{input type='text' value=raceNotes placeholder='Race Notes' class='form__input'}}

      <div class="form__buttons">
        {{#link-to 'index'}}
          <button type="button" class='form__buttons--btn cancel'>CANCEL</button>
        {{/link-to}}
        <button class="form__buttons--btn save">SAVE</button>
      </div>
    </form>
  </div>
</div>
{{outlet}}
